<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>

    <!--    <link rel="stylesheet"-->
    <!--          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
    <!--          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"-->
    <!--          crossorigin="anonymous">-->


    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <!--    Bootstrap link from webjars-->
    <link type="text/css" rel="stylesheet" th:href="@{\webjars\bootstrap\4.3.1\css\bootstrap.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script th:src="@{\webjars\jquery\3.0.0\jquery.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

</head>
<body style="background-color:#EBEDEF">
<div class="container-fluid">
    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>

    <form th:action="@{/saveUpdatedProperty1}" method="post" enctype="multipart/form-data" th:object="${property}" style="max-width: 500px; margin: 0 auto;">
        <input type="hidden" th:field="*{propertyId}" />
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Category</label>
                <div class="sol-sm-8">
                    <select th:field="*{category}" class="form-control" required>
                        <option th:value="'apartment'" th:text="Apartment"></option>
                        <option th:value="'land'" th:text="land"></option>
                        <option th:value="'rent'" th:text="rent"></option>
                        <option th:value="'villa'" th:text="Villa"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Property Name</label>
                <div class="sol-sm-8">
                    <input type="text" th:field="*{propertyName}" required class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Description</label>
                <div class="sol-sm-8">
                    <input type="text" th:field="*{description}" required class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Price</label>
                <div class="sol-sm-8">
                    <input type="text" th:field="*{price}" required class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Address</label>
                <div class="sol-sm-8">
                    <input type="text" th:field="*{address}" required class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Facilities</label>
                <div class="sol-sm-8">
                    <input type="text" th:field="*{facilities}" required class="form-control"/>
                </div>
            </div><div class="form-group row">
            <label class="col-sm-4 col-form-label">Owner Name</label>
            <div class="sol-sm-8">
                <input type="text" th:field="*{ownerName}" required class="form-control"/>
            </div>
        </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Contact No</label>
                <div class="sol-sm-8">
                    <input type="text" th:field="*{contactNo}" required class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Email</label>
                <div class="sol-sm-8">
                    <input type="text" th:field="*{email}" readonly class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Property Image</label>

                <input type="file"  name="file" required accept="image/jpeg, image/png" id="image">
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>